#balance-line {
    text-align: right;
}

#history {
    margin-top: 30px;
}

#history-table {
    width: 100%;
}

#history-table td.timestamp {
    width: 50%;
}

#history-table td.comment {
    width: 30%;
}

#history-table td.amount {
    width: 20%;
    text-align: right;
    font-weight: bold;
}

#history-table tr.history-event-pay td.amount {
    color: darkgreen;
}

#history-table tr.history-event-buy td.amount {
    color: darkred;
}

dl, dd {
    margin-bottom: 0;
}

.main {
    padding: 2%;
    margin: 0;
    padding-top: 85px;
    padding-bottom: 50px;
}

h4 {
    padding-top: 20px;
    padding-bottom: 5px;
}

.card {
    margin-bottom: 30px;
}

.btn-link {
    padding: 0;
}

.btn-link:hover {
    text-decoration: none;
}

.material-icons {
    vertical-align: sub;
}

.navbar-centered {
    margin-left: 2.2%;
    margin-right: 2.2%;
}

.footer {
    padding-top: .3rem !important;
    padding-bottom: .5rem !important;
}

@media (min-width: 1280px) {
    .centered {
        margin-left: 28% !important;
        margin-right: 28% !important;
    }

    .navbar-centered {
        margin-left: 30.6% !important;
        margin-right: 30.6% !important;
    }
}